HACKATHON_VIDEOS_COR_2022/
__pycache__/
bits22/
        bits22/
        exemple_parets1_4.py
        paret1.py
        parets.py
        prova1.jpeg
        sample1.png
        sample2.png
        screen1.png
        screen2.png
        screen3.png
        screen4.png
        screen5.png
        screen6.png
        screen7.png
        script1.py
        script10.py
        script12.py
        script2.py
        script3.py
        script4.py
        script5.py
        script6.py
        script7.py
        srcipt5.py
